<script lang="ts" setup>
import { marked } from "marked";

defineProps({
  source: {
    type: String,
    required: true,
  },
});
</script>

<template>
    <div
      v-html="marked.parse(source, {
        breaks: true,
      })">
  </div>
</template>    