<script lang="ts" setup>
import { type RichTextInput } from '~/ts/interfaces/strapi/RichTextBlock'

defineProps<{
    source: RichTextInput
}>()
</script>

<template>
    <div class="rich-text-block">
        <div class="rich-text-block__block" v-for="block in  source ">
            <UtilBlockParagraph v-if="block.type == 'paragraph'" :source="block" />
            <UtilBlockList v-else-if="block.type == 'list'" :source="block" />
            <UtilBlockHeading v-else-if="block.type == 'heading'" :source="block" />
            <UtilBlockQuote v-else-if="block.type == 'quote'" :source="block" />  
            <UtilBlockCode v-else-if="block.type == 'code'" :source="block" />
            <UtilBlockImage v-else-if="block.type == 'image'" :source="block" />
        </div>
    </div>
</template>

<style lang="scss" scoped>
.rich-text-block {
    &__block {
        margin-top: 20px;
    }

    &__paragraph {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .bold {
        font-weight: bold;
    }

    .underline {
        text-decoration: underline;
    }

    .italic {
        font-style: italic;
    }

    .strikethrough {
        text-decoration: line-through;
    }

    ul {
        list-style: disc;
    }
}</style>
