<script lang="ts" setup>
import type { LinkNode } from '~/ts/interfaces/strapi/RichTextBlock';

const props = defineProps<{
    source: LinkNode
}>()
// Check for same origin and also allow /about for example
const isExternal = computed(() => {
    return !props.source.url.startsWith('/') &&
        !props.source.url.startsWith('#') &&
        !props.source.url.startsWith('http://') &&
        !props.source.url.startsWith('https://') &&
        !props.source.url.includes(window.location.origin);
});
</script>

<template>
    <a v-if="isExternal" :href="props.source.url">
        <UtilNodeText v-for="textNode in props.source.children" :source="textNode" />
    </a>
    <NuxtLink v-else :to="props.source.url">
        <UtilNodeText v-for="textNode in props.source.children" :source="textNode" />
    </NuxtLink>
</template>

<style lang="scss" scoped>
.text-node {
    &--bold {
        font-weight: bold;
    }

    &--italic {
        font-style: italic;
    }

    &--underline {
        text-decoration: underline;
    }

    &--strikethrough {
        text-decoration: line-through;
    }

    &--code {
        font-family: monospace;
    }
}</style>
