<script lang="ts" setup>
import type { TextNode } from '~/ts/interfaces/strapi/RichTextBlock';

const props = defineProps<{
    source: TextNode
}>()

const classes = ref<string[]>([]);

onMounted(() => {
    if (props.source.bold) classes.value.push('text-node--bold');
    if (props.source.italic) classes.value.push('text-node--italic');
    if (props.source.underline) classes.value.push('text-node--underline');
    if (props.source.strikethrough) classes.value.push('text-node--strikethrough');
    if (props.source.code) classes.value.push('text-node--code');
});
</script>

<template>
    <span class="text-node" :class="classes">{{ source.text }}</span>
</template>

<style lang="scss" scoped>
.text-node {
    &--bold {
        font-weight: bold;
    }
    &--italic {
        font-style: italic;
    }
    &--underline {
        text-decoration: underline;
    }
    &--strikethrough {
        text-decoration: line-through;
    }
    &--code {
        font-family: monospace;
    }
}
</style>
