.section {
    display: flex;
    width: 100%;
    min-height: 100vh;
    justify-content: center;

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 80vw;
        max-width: 100rem;
        margin: 3rem;

        &:has(.column) {
            display: grid;
            grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
            gap: 2rem;

            @media screen and (max-width: 1024px) {
                grid-template-columns: minmax(0, 1fr);
            }
        }
    }

    &__background {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #fbfbfe;
        z-index: -1;

        > img {
            width: 100%;
            height: 100%;
            max-height: 100%;
            object-fit: cover;
            position: absolute;
            bottom: 0;
            z-index: -2;
        }
    }

    @media screen and (max-width: 768px) {
        &__content {
            width: 90vw;
            margin: 1rem;
        }
    }
}
