<script lang="ts" setup>
import type { Document } from '~/ts/interfaces/strapi/components/resource-center/Document';

const config = useRuntimeConfig()
defineProps<{
    documents: Document[]
}>()
</script>

<template>
    <div v-for="(document, index) in documents" class="document-list__item">
        <a :key="index" :href="`${config.public.backendUrl}${document.Document.url}`" target="_blank"
            class="document-list__item__link">
            <div class="document-list__item__title">
                <font-awesome-icon icon="file-pdf" class="icon" />
                <span>{{ document.Title }}</span>
            </div>
            <div class="document-list__item__external-icon">
                <font-awesome-icon icon="external-link-alt" class="icon" />
            </div>
        </a>
    </div>
</template>

<style lang="scss" scoped>
.document-list {
    &__item {
        display: flex;
        flex-direction: row;
        box-shadow: 2px 2px 5px #e5e5e5;

        &:hover {
            cursor: pointer;
            box-shadow: 4px 4px 5px #e5e5e5;
        }

        &__link {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 1rem;
            width: 100%;
            text-decoration: none;
        }

        &__title {
            display: flex;
            flex-direction: row;
            align-items: start;
            font-size: 1rem;
            color: black;
            font-weight: bold;

            .icon {
                margin-right: 1rem;
                font-size: 1.5em;
                color: #ec7e1e;
            }
        }

        &__external-icon {
            margin-left: auto;

            .icon {
                width: 1rem;
                height: 1rem;
                color: black;
            }
        }


    }
}
</style>
