<script lang="ts" setup>
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'
import { LinkUtil } from "~/utils/LinkUtil";
defineProps<{
    link: string;
    image: string;
}>()
</script>

<template>
    <div class="link-card">
        <a class="link-card__link" :href="link">
            <div class="link-card__image"><img :src="image" alt="Organisation logo"></div>
            <span v-if="LinkUtil.isExternalLink(link)" class="link-card__icon">
                <font-awesome-icon :icon="['fas', 'arrow-up-right-from-square']" />
            </span>
        </a>
    </div>
</template>

<style lang="scss" scoped>
.link-card {
    display: flex;
    width: 100%;
    box-shadow: 0.25rem 0.5rem 1rem rgba(0, 0, 0, 0.1);
    max-height: 9rem;

    &:hover {
        box-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.1);

        .link-card__icon {
            color: black;
            text-decoration: underline
        }
    }

    &__link {
        display: flex;
        gap: 0.5rem;
        padding: 1.5rem;
        width: 100%;
        height: 5rem;
        overflow: hidden;
    }

    &__image {
        display: flex;
        justify-content: center;
        align-items: center;


        >img {
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
    }

    &__icon {
        color: black;
        margin-left: auto;
    }
}
</style>
