<script lang="ts" setup>
const props = defineProps<{
    data: {
        title: string,
        description: string
        image: string,
        link: string
    }
}>()
</script>

<template>
    <div class="organisation-card">
        <img class="organisation-card__logo" :src="data.image" alt="Organisation Image">
        <h2 class="organisation-card__title">{{ data.title }}</h2>
        <p class="organisation-card__description">{{ data.description }}</p>
        <nuxt-link class="organisation-card__link" :to="data.link" target="_blank">Mehr erfahren</nuxt-link>
    </div>
</template>

<style lang="scss" scoped>
.organisation-card {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "logo" "title" "description" "link";
    width: 300px;
    gap: 0.25rem;
    padding: 1rem;
    border-radius: 1rem;
    background-color: white;
    margin: 1rem;
    color: black;

    &__logo {
        width: auto;
        height: 100%;
        max-height: 200px;
        object-fit: cover;
        align-self: center;
        justify-self: center;
        grid-area: logo;
    }

    &__title {
        font-size: 1.5rem;
        text-align: center;
        margin: 1rem 0;
        grid-area: title;
    }

    &__description {
        font-size: 1rem;
        text-align: center;
        grid-area: description;
    }

    @media (max-width: 1024px) {
        width: 100%;
        grid-template-columns: 150px 1fr;
        column-gap: 1rem;
        border-radius: 0.5rem;
        grid-template-areas:
            "logo title"
            "logo description";

        &__logo {
            max-height: 150px;
        }

        &__title {
            font-size: 1.25rem;
            margin: 0.5rem 0;
            text-align: left;
        }

        &__description {
            font-size: 1rem;
            text-align: left;
        }

        &__link {
            display: none;
        }
    }
}
</style>
