<script lang="ts" setup>
import qs from 'qs';
import { type Building } from '~/ts/interfaces/Building';
import { type RichTextInput } from '~/ts/interfaces/strapi/RichTextBlock';
const route = useRoute()
const config = useRuntimeConfig()
const building = ref<Building>()
const id = ref(route.params.id)
const loading = ref(true)

onMounted(async () => {
    const queryString = {
        filters: {
            slug: {
                $eq: id.value
            }
        },
        populate: {
            thumbnail: true,
            Address: true,
            Documents: {
                populate: "Document"
            },
            images: true,
            sections: true
        }
    }
    building.value = (await fetch(`${config.public.apiUrl}/api/buildings?${qs.stringify(queryString)}`).then(res => res.json())).data[0] as Building
    loading.value = false
})
</script>

<template>
    <div class="section rental-building" v-if="!loading">
        <div class="section__content">
            <div class="column">
                <h1 class="rental-building__title">{{ building?.name }}</h1>
                <UtilRichTextBlock class="rental-building__description"
                    :source="(building?.description as RichTextInput)" />
            </div>
            <div class="column">
                <div class="rental-building__thumbnail">
                    <img :src="config.public.backendUrl + building?.thumbnail.url"
                        alt="Bild des Gebäudes" />
                </div>
            </div>
            <div class="column">
                <div class="rental-building__contact">
                    <div class="rental-building__contact__address">
                        <h2>Adresse</h2>
                        <p>
                            {{ building?.Address.Street}} {{ building?.Address.Number }}<br />
                            {{ building?.Address.Zip }} {{ building?.Address.City }}<br />
                        </p>
                        <br>
                    </div>
                    <div v-if="building?.Contact">
                        <h2>Kontakt</h2>
                        <p>
                            <a :href="'mailto:' + building?.Contact.Email">{{ building?.Contact.Email }}</a><br />
                            <a :href="'tel:' + building?.Contact.PhoneNumber">{{ building?.Contact.PhoneNumber }}</a>
                        </p>
                    </div>
                    <div class="rental-building__contact__map" v-if="building?.Address.MapsEmbedUrl">
                        <iframe
                            :src="building?.Address.MapsEmbedUrl"
                            width="100%" height="100%" style="border:0;" allowfullscreen="false" loading="lazy"></iframe>
                    </div>
                </div>

            </div>
            <div class="column">
                <h2>Dokumente</h2>
                <div class="rental-building__documents" v-if="building?.Documents">
                    <DocumentList :documents="building?.Documents" />
                </div>
            </div>
            <div class="rental-building__images">
                <h2>Bilder</h2>
                <div class="rental-building__images__gallery">
                    <div v-for="image in building?.images">
                        <img :src="config.public.backendUrl + image.url" alt="Bild des Gebäudes" />
                    </div>
                </div>
            </div>
            <div class="rental-building__sections">
                <TabComponent>
                    <TabItem v-for="section in building?.sections" :title="section.title">
                        <UtilRichTextBlock v-if="section.__component == 'layout.section'"
                            :source="(section.content as RichTextInput)" />
                        <UtilMarkdown v-else :source="section.content" />
                    </TabItem>
                </TabComponent>
            </div>
        </div>
    </div>
</template>

<style lang="scss" scoped>
.rental-building {
    &__thumbnail {
        >img {
            width: 100%;
            height: 100%;
            object-fit: cover;

            &:first-child {
                grid-column: 1 / -1;
                grid-row: 1 / 3;
            }
        }
    }

    &__contact {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;

        background-color: #efefef;
        padding: 1rem;
        border-radius: 1rem;

        &__address {
            grid-column: 1 / 2;
            grid-row: 1 / 2;
        }

        &__contact {
            grid-column: 2 / 3;
            grid-row: 1 / 2;
        }

        &__map {
            grid-column: 1 / -1;
            grid-row: 2 / 3;
            height: 300px;
            border-radius: 1rem;
            overflow: hidden;
        }
    }

    &__images {
        grid-column: 1 / -1;

        &__gallery {
            display: grid;
            // height: 17rem;
            grid-template-columns: repeat(4, 1fr);
            gap: 0.5rem;

            >div {
                height: 200px;

                >img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }

    &__sections {
        margin-top: 2rem;
        grid-column: 1 / -1;
    }

    @media screen and (max-width: 768px) {
        &__thumbnail {
            >img {
                &:first-child {
                    grid-column: 1 / -1;
                    grid-row: 1 / 2;
                }
            }
        }

        &__images {
            &__gallery {
                grid-template-columns: repeat(2, 1fr);
                height: unset;
            }
        }
    }

    @media screen and (max-width: 480px) {
        &__images {
            &__gallery {
                >div {
                    height: 150px;
                }
            }
        }
    }
}
</style>