.bento-box {
    align-self: center;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(4, 9rem);
    grid-gap: 1rem;

    >* {
        border-radius: 1.5rem;
        background-color: white;
        padding: 1rem;
        box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1);
    }

    @media screen and (max-width: 768px){
        grid-template-columns: 100%;
        grid-template-rows: auto;

        >* {
            grid-column: 1 / -1;
            grid-row: auto;
        }
    }
}

// Bento box item styling
#welcome {
    grid-column: 1 / -1;
}

#scouting {
    grid-column: 1 / 5;
    grid-row: 2 / -1;
}

#one {
    grid-column: 5 / 10;
    grid-row: 2 / 4;
}

#two {
    grid-column: 5 / 10;
    grid-row: 4 / -1;
}

#events {
    grid-column: 10 / -1;
    grid-row: 2 / -1;
}

@media screen and (max-width: 768px){
    #scouting, #one, #two, #events {
        grid-column: 1 / -1;
        grid-row: inherit;
    }
}

#organisations {
    color: white;

    h1 {
        text-align: center;
        font-size: 3.25rem;
        margin: 3rem 0;
    }

    .organisations {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
    }

    .section__background {

        img {
            filter: brightness(0.5);
        }
    }
}

// Column styling
#infos {
    .links {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}