<script lang="ts" setup>

</script>

<template>
    <div class="main">
        <nav>
            <!-- NAVIGATION -->
        </nav>
        <div class="content">
            <slot />
        </div>
        <footer>
            <p>&copy; 2024 Pfadi Baden</p>
        </footer>
    </div>
</template>