<script lang="ts" setup>
import { type TextNode, type HeadingBlock, type LinkNode } from '~/ts/interfaces/strapi/RichTextBlock';

defineProps<{
    source: HeadingBlock
}>()
</script>

<template>
    <h1 v-if="source.level == 1" class="title is-size-1">
        <UtilNodeText v-for="textNode in source.children.filter(child => child.type === 'text')"
            :source="(textNode as TextNode)" />
        <UtilNodeLink v-for="linkNode in source.children.filter(child => child.type === 'link')"
            :source="(linkNode as LinkNode)" />
    </h1>
    <h2 v-else-if="source.level == 2" class="title is-size-2">
        <UtilNodeText v-for="textNode in source.children.filter(child => child.type === 'text')"
            :source="(textNode as TextNode)" />
        <UtilNodeLink v-for="linkNode in source.children.filter(child => child.type === 'link')"
            :source="(linkNode as LinkNode)" />
    </h2>
    <h3 v-else-if="source.level == 3" class="title is-size-3">
        <UtilNodeText v-for="textNode in source.children.filter(child => child.type === 'text')"
            :source="(textNode as TextNode)" />
        <UtilNodeLink v-for="linkNode in source.children.filter(child => child.type === 'link')"
            :source="(linkNode as LinkNode)" />
    </h3>
    <h4 v-else-if="source.level == 4" class="title is-size-4">
        <UtilNodeText v-for="textNode in source.children.filter(child => child.type === 'text')"
            :source="(textNode as TextNode)" />
        <UtilNodeLink v-for="linkNode in source.children.filter(child => child.type === 'link')"
            :source="(linkNode as LinkNode)" />
    </h4>
    <h5 v-else-if="source.level == 5" class="title is-size-5">
        <UtilNodeText v-for="textNode in source.children.filter(child => child.type === 'text')"
            :source="(textNode as TextNode)" />
        <UtilNodeLink v-for="linkNode in source.children.filter(child => child.type === 'link')"
            :source="(linkNode as LinkNode)" />
    </h5>
    <h6 v-else-if="source.level == 6" class="title is-size-6">
        <UtilNodeText v-for="textNode in source.children.filter(child => child.type === 'text')"
            :source="(textNode as TextNode)" />
        <UtilNodeLink v-for="linkNode in source.children.filter(child => child.type === 'link')"
            :source="(linkNode as LinkNode)" />
    </h6>
</template>
