<script lang="ts" setup>
import type { LinkNode, QuoteBlock, TextNode } from '~/ts/interfaces/strapi/RichTextBlock';

defineProps<{
    source: QuoteBlock
}>()
</script>

<template>
    <blockquote>
        <template v-for="(child, index) in source.children">
            <template v-if="child.type === 'text'">
                <UtilNodeText :key="index" :source="(child as TextNode)" />
            </template>
            <template v-else-if="child.type === 'link'">
                <UtilNodeLink :key="index" :source="(child as LinkNode)" />
            </template>
        </template>
    </blockquote>
</template>

<style lang="scss" scoped>
    
</style>
