<script lang="ts" setup>
const organisations = [
    {
        title: "Baregg Baden",
        description: "Die Baregg Baden ist eine Pfadiabteilung in Baden. Wir bieten ein vielfältiges Programm für Kinder und Jugendliche an.",
        image: "/img/orgs/baden-baregg.jpeg",
        link: "https://pfadibaregg.ch"
    },
    {
        title: "Hochwacht Baden",
        description: "Die Hochwacht Baden ist eine Pfadiabteilung in Baden. Wir bieten ein vielfältiges Programm für Kinder und Jugendliche an.",
        image: "/img/orgs/hochwacht-baden.png",
        link: "https://hochwacht.ch"
    },
    {
        title: "PTA Baden",
        description: "Die PTA Baden ist eine Pfadiabteilung in Baden. Wir bieten ein vielfältiges Programm für Kinder und Jugendliche an.",
        image: "/img/orgs/pta-baden.png",
        link: "https://ptabaden.ch"
    },
]
</script>

<template>
    <div class="section" id="section1">
        <div class="section__content">
            <div class="bento-box">
                <div class="bento-box__item" id="welcome">
                    <h1>Willkommen bei der Pfadi Baden</h1>
                    <p>Cillum occaecat ad duis in consectetur ullamco nisi labore sint. Reprehenderit ea officia mollit
                        nulla sit ipsum.Dolore qui eiusmod aliqua sunt aute cillum culpa adipisicing nostrud qui dolore
                        ipsum nulla minim.</p>
                </div>
                <div class="bento-box__item" id="scouting">
                    <h2>Pfadfinderei</h2>
                    <p>Am Samstagnachmittag, treffen sich Pfadfinder regelmässig mit gleichaltrigen zu gemeinsamen
                        Erlebnissen. Sie verbringen viel Zeit in der Natur, wo sie praktisches Wissen für das Leben im
                        Freien erlernen. Spiel, Spass und Abenteuer stehen bei diesen Aktivitäten im Vordergrund.
                        Gegenseitiger Respekt und Toleranz führen oft zu lebenslangen Freundschaften. Höhepunkte des
                        Pfadiprogramms sind mit Sicherheit die jährlichen Lager zur Ferienzeit. Das gemeinsame
                        Lagerleben verspricht Abenteuer und es ist möglich, Neues, Ungewohntes und Grösseres zu
                        verwirklichen. Immer während Pfingsten und entweder in den Sommer- oder Herbstferien, finden
                        jedes Jahr für die Wolfs-, Pfadi- und Piostufe Lager statt</p>
                </div>
                <div class="bento-box__item" id="one">
                    <h2>Schnuppern</h2>
                    <p>Wir freuen uns immer über neue Teilnehmende an unseren Aktivitäten. Schreibe uns bei Interesse
                        entweder eine E-Mail an <a href="mailto:info@pfadibaden.ch">info@pfadibaden.ch</a> oder
                        kontaktiere die Stufenleitenden der einzelnen Stufen.</p>
                </div>
                <div class="bento-box__item" id="two">
                    <h2>Coming soon...</h2>
                    <p></p>
                </div>
                <div class="bento-box__item" id="events">
                    <h2>Nächste Events/Anlässe</h2>
                    <p></p>
                </div>
            </div>
        </div>
        <div class="section__background">
            <img src="/img/baden-skyline.svg">
        </div>
    </div>
    <div class="section" id="organisations">
        <div class="section__content">
            <h1>Abteilungen</h1>
            <div class="organisations">
                <OrganisationCard v-for="org in organisations" :data="org" :key="org.title" />
            </div>
        </div>
        <div class="section__background">
            <img src="/img/forest-tent.jpg">
        </div>
    </div>
    <div class="section" id="infos">
        <div class="section__content">
            <div class="column" id="column1">
                <h1>FAQ</h1>
                <p>Hier findest du Antworten auf die am häufigsten gestellten Fragen</p>
            </div>
            <div class="column" id="column2">
                <h1>Links</h1>
                <div class="links">
                    <LinkCard link="https://pfadi.swiss" image="/img/logos/pbs_logo.png" />
                    <LinkCard link="https://pfadiaargau.ch" image="/img/logos/pa_logo.png" />
                    <LinkCard link="https://hajk.ch" image="/img/logos/hajk_logo.jpg" />
                </div>
            </div>
        </div>
    </div>
</template>

<style lang="scss" scoped>
@import "../public/scss/pages/index.scss";
</style>
