.button {
    background-color: #ec7e1e;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s;
    &:hover {
        background-color: darken($color: #ec7e1e, $amount: 5);
    }    
}