table {
    width: 100%;
    border-collapse: collapse;

    td,
    th {
        border: 1px solid #ddd;
        padding: 0.5rem;
    }

    td:empty,
    th:empty {
        // width: 5px;
        background-color: #ddd;
    }
}

.table-container {
    overflow-x: hidden;
    &--scrollable {
        overflow-x: auto;

        table {
            min-width: 700px;
        }
    }
}