<script lang="ts" setup>
import { provide, ref } from "vue";

interface Tab {
    title: string;
    hash: string;
}
const route = useRoute();
const router = useRouter();
const activeTabHash = ref("");
const tabs = ref<Tab[]>([]);

provide("addTab", (tab: Tab) => {
    const count = tabs.value.push(tab);

    if (count === 1) {
        activeTabHash.value = tab.hash;
    }
});
provide("activeTabHash", activeTabHash);

function setActiveTabHash(hash: string) {
    activeTabHash.value = hash;
    router.push({ query: { tab: hash } });
}

onMounted(() => {
    // If the tab is not set in the URL, set the first tab as active
    if (!route.query.tab) {
        setActiveTabHash(tabs.value[0].hash);
    } else {
        setActiveTabHash(route.query.tab as string);
    }
});
</script>

<template>
    <div class="tabs">
        <ul class="tabs__list">
            <li v-for="tab in tabs" :key="tab.title" @click="setActiveTabHash(tab.hash)" class="tabs__list__item"
                :class="{ 'tabs__list__item--active': tab.hash == activeTabHash }">{{ tab.title }}</li>
        </ul>
        <div class="tabs__container">
            <slot />
        </div>
    </div>
</template>

<style lang="scss">
$tab-background-color: #f5f5f5;

.tabs {
    width: 100%;
    display: flex;
    flex-direction: column;

    &__list {
        display: flex;
        list-style: none;
        justify-content: space-evenly;
        flex-wrap: nowrap;
        padding: 0;
        margin: 0;
        overflow-x: auto;
        white-space: nowrap;
        padding-bottom: 3px;
        background-color: $tab-background-color;

        &__item {
            min-width: 150px;
            cursor: pointer;
            padding: 1rem;
            width: 100%;
            text-align: center;
            border: 1px solid #eee;
            border-bottom: 3px solid #ec7e1e;
            background-color: white;

            &:hover {
                background-color: $tab-background-color;
            }

            &--active {
                background-color: $tab-background-color;
                border-bottom: none;

            }
        }
    }

    &__container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Add this line */
        > * {
            grid-column: 1;
            grid-row: 1;
        }
    }
}

.tab-item {
    background-color: $tab-background-color;
    padding: 2.5rem;
    // margin: 0 2.5rem;


    @media screen and (max-width: 480px) {
        padding: 2.5rem 1.5rem;
    }
}
</style>

<style lang="scss">
.tabs {
    img {
        height: 100%;
        max-height: 350px;
        width: auto;
        max-width: 100%;

        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}
</style>
