<script lang="ts" setup>
const props = defineProps(["title"]);

const hash = ref("");
const isActive = ref(false);

const addTab = inject("addTab") as Function;
const activeTabHash = inject("activeTabHash") as Ref<string>;

onBeforeMount(() => {
  hash.value = `#${props.title.toLowerCase().replace(/ /g, "-")}`;

  addTab({
    title: props.title,
    hash: hash.value,
  });
});

watch(activeTabHash, () => {
  isActive.value = activeTabHash.value === hash.value;
});
</script>

<template>
    <div :style="{visibility: isActive ? 'visible' : 'hidden'}" :aria-hidden="isActive" class="tab-item">
        <slot></slot>
    </div>
</template>
